@use "../globals/fonts" as *;

input,
select {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  appearance: none;
}

.converter {
  border: 1px solid var(--border-color);
  border-radius: 30px;
  box-shadow: 0px 0px 29px -13px #d4d4d4;
  padding: 2em;
  width: 21.875rem;
  min-width: 15.625rem;
  min-height: 100%;
  margin: 14em 1em;

  &__h1 {
    text-align: center;
    font-size: 1.1rem;
    margin-top: 0px;
    margin-bottom: 1em;
  }

  &__label {
    font-size: $input-name;
    color: var(--lighter-font);
    margin-bottom: 0.5em;
  }

  &__input,
  &__result,
  &__select-one,
  &__select-two {
    padding: 0 0.8em;
    height: 45px;
    border: 1px solid var(--border-color);
    border-radius: 0.8em;
    box-sizing: border-box;
  }

  &__currencies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1em;
  }

  &__amount-div,
  &__from-div,
  &__to-div,
  &__result-div {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
  }

  &__from-div,
  &__to-div {
    width: 8em;
    position: relative;
  }

  &__select-one,
  &__select-two {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    z-index: 5;
  }

  &__select-img {
    position: absolute;
    z-index: 1;
    right: 10%;
    top: 50%;
  }

  &__result {
      display: flex;
      align-items: center;
  }

  &__switch-div {
    display: flex;
    justify-content: center;
    width: 2em;
  }

  &__switch-btn {
    border: none;
    background-color: #fff;
  }

  &__switch-img {
    height: 1.7em;
    transition: height 0.2s;
  }

  &__switch-img:hover {
    height: 2.1em;
    cursor: pointer;
  }

  &__btn-div {
    display: flex;
    justify-content: center;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    color: var(--darker-font);
    font-weight: 600;
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 5em;
    padding: 1em 2em;
    transition: background-color 0.2s, color 0.2s;
  }

  &__btn-img {
    margin-left: 0.5em;
    height: 1.5em;
    color: #000;
    transition: 0.2s;
  }

  &__btn:hover {
    cursor: pointer;
    background-color: var(--darker-font);
    color: #fff;
  }

  &__btn:hover > &__btn-img {
    filter: invert(100%) sepia(4%) saturate(9%) hue-rotate(57deg) brightness(104%) contrast(100%);
  }
}
